---
name: lein_test

on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-lein-tests:
    name: lein test - Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21' ]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          cli: latest              # Clojure CLI based on tools.deps
          lein: latest                  # Leiningen
          boot: latest                  # Boot.clj
          bb: latest                    # Babashka
          clj-kondo: latest        # Clj-kondo
          cljstyle: latest             # cljstyle
          zprint: latest                # zprint
      - name: Run lein tests with dev test profile
        run: lein with-profile dev test
      - name: Run lein tests with fips profile
        run: lein with-profile fips test

  tests:
    if: always()
    needs:
      - run-lein-tests
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
